@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  /* To alter screens sizes use --breakpoint-sm: custom number, --breakpoint-md: custom number, --breakpoint-lg: custom number  */
  --color-primary: #4a90e2;
  --color-secondary: #50e3c2;
  --color-accent: #9013fe;
  --color-magenta: #d0021b;
  --color-blue: #2997FF;
  --color-zinc: #101010;
  --color-gray: #86868b;
  --color-gray-100: "#94928d";
  --color-gray-200: "#afafaf";
  --color-gray-300: "#42424570";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-height {
  height: calc(100vh - 60px);
}

.btn {
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  background-color: var(--color-blue);
  margin: 1.25rem 0;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.color-container,
.size-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 9999px;
  background-color: var(--color-gray-300);
  backdrop-filter: blur(10px);
}

.size-btn-container {
  margin-left: 0.75rem;
  gap: 0.25rem;
}

.size-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.common-padding {
  padding: 5rem 1.25rem;
}

@media (min-width: 640px) {
  .common-padding {
    padding: 8rem 2.5rem;
  }
}

.section-heading {
  color: var(--color-gray);
  font-size: 1.875rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(5rem);
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3rem;
  }
}

.feature-text {
  color: var(--color-gray);
  max-width: 28rem;
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(6.25rem);
}

.feature-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .feature-text-container {
    flex-direction: row;
    margin-top: 4rem;
  }
}

.feature-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
  opacity: 0;
}

.link {
  color: var(--color-blue);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  transform: translateY(5rem);
}

.control-btn {
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 9999px;
  background-color: var(--color-gray-300);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.875rem;
  color: var(--color-gray-100);
  opacity: 0;
}

.hiw-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .hiw-title {
    font-size: 4.375rem;
  }
}

.hiw-subtitle {
  color: var(--color-gray);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  padding: 2.5rem 0;
}

@media (min-width: 768px) {
  .hiw-subtitle {
    font-size: 1.5rem;
  }
}

.hiw-video {
  position: absolute;
  width: 95%;
  height: 90%;
  border-radius: 56px;
  overflow: hidden;
}

.hiw-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}

@media (min-width: 768px) {
  .hiw-text-container {
    flex-direction: row;
  }
}

.hiw-text {
  color: var(--color-gray);
  font-size: 1.25rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hiw-text {
    font-weight: 600;
  }
}

.hiw-bigtext {
  color: white;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .hiw-bigtext {
    font-size: 3.125rem;
    font-weight: 600;
  }
}

.video-carousel_container {
  position: relative;
  width: 88vw;
  height: 35vh;
}

@media (min-width: 640px) {
  .video-carousel_container {
    width: 70vw;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .video-carousel_container {
    height: 70vh;
  }
}

.g_fadeIn {
  opacity: 0;
  transform: translateY(6.25rem);
}